vscodium/.config/VSCodium/*
!vscodium/.config/VSCodium/User
!vscodium/.config/VSCodium/User/extensions-list.txt
vscodium/.config/VSCodium/User/workspaceStorage
vscodium/.config/VSCodium/User/globalStorage
vscodium/.config/VSCodium/User/History
kde/.local/share/icons/hicolor/
tmux/.config/tmux/plugins
nvim/.config/nvim/plugin
zsh/.config/zsh/plugins
